@charset "UTF-8";

.post {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

#output {
  display: flex;
  flex-direction: column-reverse;
}

.hidden {
  display: none;
}

textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  font-size: 14px;
}

button {
  margin: 5px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}
